.App {
  text-align: center;
  align-items: center;
}

/* Buttons (ActiveTab & Switch) */

.buttons {
  display: flex;
  width: 100vw;
  height: 100px;
  justify-content: space-evenly;
  align-items: center;
}

.switch {
  display: inherit;
  width: 150px;
  justify-content: space-between;
  align-items: center;
}

/* Light & Dark Theme */

#light {
  background-color: #f3ebf6;
}

#dark {
  background-color: #202124;
  color: #fff;
}

#dark .btn {
  color: #fff;
}
