.App {
  text-align: center;
  align-items: center;
}

/* Buttons (ActiveTab & Switch) */

.buttons {
  display: flex;
  width: 100vw;
  height: 100px;
  justify-content: space-evenly;
  align-items: center;
}

.switch {
  display: inherit;
  width: 150px;
  justify-content: space-between;
  align-items: center;
}

/* Light & Dark Theme */

#light {
  background: #f3ebf6;
  transition: all 0.2s linear;
}

#dark {
  background: #202124;
  color: #fff;
  transition: all 0.2s linear;
}

#dark .btn {
  color: #fff;
}

#dark .tableCls {
  color: #fff;
  background-color: #212529;
  border-color: #373b3e;
  transition: all 0.2s linear;
}

#dark .tableCls tbody tr:nth-of-type(odd) {
  background-color: #2c3034;
}

#dark .table-dark {
  transition: all 0.2s linear;
}
